@import "settings";
//@import "foundation";

// Or selectively include components
 @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
   "foundation/components/forms",
   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
   "foundation/components/top-bar",
   "foundation/components/type"
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
;

// colours!!
$blue: #0A7B83;
$green: #2AA876;
$yellow: #FFD265;
$orange: #F19C65;
$red: #CE4D45;

html {
       overflow-y: scroll;
}

.header {
	background-color: $red;
	padding: 1em;
	
	text-align:center;


	@media #{$large-up} { 
		padding: 4em 0 4em;
	}

	h1, h2 {
		color: white;
		font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif;
		font-weight: 700;
		text-shadow: 3px 3px 10px rgba(0,0,0,0.5);
	}
	h1 {
		font-size: 5em;
	}
	h2 {
		margin-top: -0.5em;
	}
}

.button {
	background-color: $blue;

	&:hover {
		background-color: darken($blue,10%);
	}
}

.filters {
	background-color: $orange;
	padding: 0.5em 0;

	select, label {
		margin-bottom: 0;
	}

	label {
		font-weight: 700;
		font-size: 1.2em;
		color: black;
	}
}

.content {
	padding-top: 2em;
	@media #{$large-up} { 
		padding-top: 4em;
	}

	background-image: url(../img/white_wall_hash.png);

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx) {
		background-image: url(../img/white_wall_hash_@2X.png);
	}

}

.conferences {
	list-style: none;
	font-family: 'Libre Baskerville',Georgia, serif;
	text-align: center;

	h3 {
		font-family: 'Libre Baskerville',Georgia, serif;
		font-size: 2em;
		font-weight: 700;
		font-size: 3em;

	}

	li {
		margin-bottom: 2em;
		padding-bottom: 2em;
		border-bottom: thin solid #666;
	}

	li:last-child {
		border-bottom: none;
	}

	.description {
		margin-top: 1em;
	}
}

.content-info {
	background-color: $green;
	color: white;
	font-family: 'Libre Baskerville',Georgia, serif;
	padding: 4em 0;

	.copy {
		margin-top: 3em;
		text-align: center;
	}

	h2 {
		font-weight: 700;
		color: white;
		border-bottom: thin solid white;
		margin-bottom: 0.5em;
	}

	.contact {
		text-align: right;
	}

	a {
		color: white;
		text-decoration: underline;

	}
}